table th {
    color: #0000FC;
    text-decoration-color: chartreuse;

}
table {
    border-color: blue;
    border: solid 2px;
    width: 80%;
    margin: auto;

}

pre {

}
#username {

}