
{% extends 'base.html' %}

{% block content %}
<p>{{request.user.username}}</p>

{% if request.user.is_admin %}
<p>I am admin</p>
{% else %}
<p>I am User</p>
{% endif %}

   <h3>The current user logged in is {{ request.user.username }}</h3>
    {% if request.user.is_admin %}
    <a type="button" class="btn btn-info" href="{% url 'myapp:add_task' %}">Create task</a>
    <a type="button" class="btn btn-primary" href="{% url 'myapp:add_status' %}">Create a status</a>
<p>{{request.user.admin.organization}}</p>
    {% endif %}

    {% if request.user.is_user %}
    <a type="button" class="btn btn-info" href="{% url 'myapp:user_add_task' %}">Create your task</a>
<p>{{request.user.scrummyuser.org}}</p>
    {% endif %}
    <br><br>
    <table class="table" border="1">
       <tr>

           <th>User</th>
            <th>Position</th>
           <th>Org</th>
           <th>Weekly Goals</th>
           <th>Daily Goals</th>
           <th>Verify</th>
           <th>Done</th>
           <th></th>
       </tr>

        {% for name in user %}
            {% if request.user.scrummyuser.org == name.org or request.user.admin == name.org %}
            <tr>
                <td>
                    <a>{{name.user.username}}</a>
                </td>
                <td>
                    {% if name.role == 'OW' %}
                    <p>Owner</p>
                    {% endif %}
                    {% if name.role == 'AD' %}
                    <p>Admin</p>
                    {% endif %}
                    {% if name.role == 'PR' %}
                    <p>Project Manager</p>
                    {% endif %}
                    {% if name.role == 'DEV' %}
                    <p>Developer</p>
                    {% endif %}
                </td>
                <td>{{name.org}}</td>
                <td>
                     {% for foo in name.get_week %}
                        <a href="{% url 'myapp:move_goal' foo.id %}"><pre>{{ foo.task }}</pre></a>
                    {% endfor %}
                </td>
                <td>
                    {% for foo in name.get_day %}
                        <a href="{% url 'myapp:move_goal' foo.id %}"><pre>{{ foo.task }}</pre></a>
                    {% endfor %}
                </td>
                <td>
                    {% for foo in name.get_verify %}
                        <a href="{% url 'myapp:move_goal' foo.id %}"><pre>{{ foo.task }}</pre></a>
                    {% endfor %}
                </td>
                <td>
                    {% for foo in name.get_done %}
                        <a href="{% url 'myapp:move_goal' foo.id %}"><pre>{{ foo.task }}</pre></a>
                    {% endfor %}
                </td>
                <td>
                    <a type="button" class="btn btn-danger" href="{% url 'myapp:user_delete' name.pk %}">Delete User</a>
                </td>
            </tr>
    {% endif %}

        {% endfor %}

    </table>
{% endblock %}