
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h5>
                This is  web app to manage tasks for technical teams, You can open a workspace for your organization as an admin
                 and users can sign up to that workspace, create tasks, assign it milestones, change tasks milestones. Admins can coordinate
                workflow as well as other functionalities for their members while users can only coordinate workflow for themselves.
                <b>This is a personal project, so it is constantly being improved upon, link to API documentation using swagger will soon be
                provided</b>
                 This web app also provides RESTFUL API which would be consumed by my front-end project which would be implemented by vuejs later on.
            </h5>
        </div>
        <div class="row"></div>
       <p>Sign up for a free account</p>
    <p>Choose your account type</p>
   <a type="button" class="btn btn-primary" href="{% url 'admin_signup'  %}">Admin</a>
    <a type="button" class="btn btn-secondary" href="{% url 'user_signup'  %}">User Sign up</a>
    </div>
</div>

{% endblock %}